/* Poppins Medium */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/font/poppins/Poppins-Medium.woff2') format('woff2'),
       url('../assets/font/poppins/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Lexend Medium */
@font-face {
  font-family: 'Lexend';
  src: url('../assets/font/lexend/Lexend-Medium.woff2') format('woff2'),
       url('../assets/font/lexend/Lexend-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
