// --- VARIABLES ---
$white: #ffffff;
$blue: #1677ff;
$red: #ff4d4f;
$light-green: #56ca28;
$border-color: #ddd;
$gray-color: #555;

$size-xs: 0.375rem;
$size-sm: 0.75rem;
$size-md: 1rem;
$size-l: 1.5rem;
$size-xl: 2rem;
$size-2xl: 3rem;

$max-width: 1280px;

$break-desktop: 768px;
$break-mobile: 767px;

/* Font families */
$font-primary: 'Poppins', system-ui, -apple-system, sans-serif;
$font-secondary: 'Lexend', system-ui, sans-serif;

/* Font weights */
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;