html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  max-width: $max-width;
  margin: 0 auto;
  // padding: $size-xl;
  padding-left: $size-xl;
  padding-right: $size-xl;
  position: relative;
  display: flex;
  flex-direction: column;
}