html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  font-weight: $font-medium;
  line-height: 2;
}

#root {
  max-width: $max-width;
  margin: 0 auto;
  // padding: $size-xl;
  padding-left: $size-xl;
  padding-right: $size-xl;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* NASLOVI – Lexend */
h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  font-weight: $font-medium;
  margin: 0;
}